<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title System Information
        style
            include ./styles/sticky.css
    body
        ul
            li
                a(href='#')
                    h2 BIOS Information
                    p #{BIOSVersion}
                    p #{BIOSManufacturer}
            li
                a(href='#')
                    h2 Disk Information
                    p #{DeviceID}
                    p #{Size}
                    p #{FreeSpace}
            li
                a(href='#')
                    h2 OS Information
                    p #{OSCaption}